{% extends 'base.html' %}


{% block content %}

<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">About Us</h1>
            <p class="lead fw-normal text-white-50 mb-0">Welcome to UNN MALL</p>
        </div>
    </div>
</header>


<div class="container">
    <div class = "row">
        <center>
            <div class="col-8">

                <br/> <br/>


                <p align ="justify">
                    This is an online product delivery information management system tailored for 
                    university environments, with a focus on efficient book delivery. Traditional manual methods
                    of record-keeping are prone to errors and time-consuming, highlighting the need for a streamlined 
                    and transparent system.
                    <br> <br> 
                    The web application aims to address challenges such as lack of visibility into delivery status, 
                    order mix-ups, communication gaps, and delays. Users will be able to
                    easily place orders, track delivery status, and receive updates, thereby reducing waiting times and 
                    minimizing disruptions. The significance of this project lies in its potential to enhance the overall
                    campus experience by providing a user-friendly platform that integrates seamlessly into existing university infrastructure, 
                    contributing to improved efficiency.
                </p>
            </div>
            <br/> <br/>


        </center>

    </div>

</div>


{% endblock %}